html, body {
  margin: 0;
  padding: 0;
}

.App {
  padding: 20px;;
}

nav {}

nav.navbar { 
  display: flex;
  padding: 10px 20px;
  background: #686de0; 
}

button.navbar-button {
  padding: 5px 20px;
  width: 100px;
  margin: 15px 10px;
  border-radius: 3px;
}

.greeting h1 {
  margin-top: 20px;
  margin-left: 2.5%;
  /* background-color: #686de0; */
}

.search-field {
  margin: auto 2.5%;
}

#home-btn {
  color: white;
  text-decoration: none;
}

.userForm {
  width: 80%;
  margin: auto;
  text-align: center;
}

.userForm h1 {
  margin: 10px 0px;
}

#link-login {
  margin-top: 5%;
}

#private button {
  position: absolute;
  bottom: 20px;
  left: 10px;
}